#mess{

	position: absolute;
	left: 31%;
	top: 5%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	border-bottom: 1px solid rgb(0, 0, 0, 0,.05);
}

.mess-head{
	margin-left: -110px;
	padding: 10px;
background-color: black;
border: solid;
border-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mess-head h1{
	color: white;
	text-decoration: underline;
	font-size: 30px;
}

.mess-head p{
	color: whitesmoke;
	font-weight: 600;
}

.mess-container{
	border: solid;
	border-color: white;
background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
	flex-wrap: wrap;
	margin-left: -15vh;
}

.mess-box{
	background-color: gray;
	width: 300px;
	background-color: gray;
	border: 1px solid #ececec;
	margin: 20px;
}

.mess-img{
	width: 100%;
	height: auto;
	background-color: white;
}

.mess-img img{
	width: 100%;
	height: 10%;
	object-fit: cover;
	object-position: center;
}

.mess-txt{
	padding: 30px;
	display: flex;
	flex-direction: column;
	
}

.mess-txt span{
		color: black;
		font-size: 1rem;
}

.mess-txt .mess-title{
	padding-top: 3px;
	font-size: 1rem;
	font-weight: 500;
	color: black;
}

.mess-txt .mess-title:hover{

color: red;
transition: all ease 0.3s;
}

.mess-txt p{
	color: #9b9b9b;
	font-weight: 0.9rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px 0px;

}	