body{
  background-color: green;
}
.b2b-banner{
margin-top: 10px;
background-color: white;
border-radius: 10px;
}

/* Add styles for smaller screens */
@media screen and (max-width: 768px) {
.b2b-banner img {
  height: auto;
  width: 100%;
}
}
.courses-container{
  background-color: #A50000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 70px;
  width: 100%;
  height: 500px;
}

.b2b-banner video {
width: 100%;
height: auto;
}

@media only screen and (max-width: 768px) {
.b2b-banner video {
width: 100%;
height: auto;
border-radius: 20px;
}
}


.course-1{
  background-color: #F2F2F2;
  border: solid gray 2px;
  border-radius: 10px;
  width: 300px;
  height: 380px;
  margin: 20px;
}


.TDC{
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.title-1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  font-size: smaller;
}



a:link {
color: green;
background-color: transparent;
text-decoration: none;
}

@media screen and (max-width: 768px) {
/* styles for screen sizes smaller than 768px */
.courses-container {
  flex-direction: column;
  height: auto;
}
.course-1 {
  width: 90%;
  margin: 10px auto;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
/* styles for screen sizes between 769px and 1024px */
.courses-container {
  height: 800px;
}
.course-1 {
  width: 45%;
}
}


@media screen and (min-width: 1025px) {
/* styles for screen sizes larger than 1025px */
.courses-container {
  height: 500px;
}
.course-1 {
  width: 85%;
}
}
a {
display: inline-block;
background-color: green;
color: white;
padding: 10px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
transition: background-color 0.3s ease;
}

a:hover {
background-color: darkgreen;
}

a:visited {
color: pink;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}
a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}
